<!DOCTYPE html>
<html>
<head>
<title>HOME</title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous"
  /> 
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css"> 
</head>
<body>
   <style>
      *{
    padding:0;
    margin: 0;
}
.header

{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://image.shutterstock.com/image-photo/kaju-katli2-260nw-128021285.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav
{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid white; */
}
nav img
{
    width: 150px;
    /* border: 1px solid white; */
}
.nav-links
{
    flex: 1;
    text-align: right;
    /* border: 1px solid white; */
}

.nav-links ul li
{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    text-transform: capitalize;
}
.nav-links ul li a
{
    text-decoration: none;
    color: white;
    width:13px ;
    font-family: 'Poppins', sans-serif;
}
.nav-links ul li::after
{
    content: '';
    width: 0%;
    height: 2px;
    background-color:rgb(232, 225, 225) ;
    margin: auto;
    display: block;
    transition: width 0.5s;
}
.nav-links ul li:hover::after
{
    width: 100%;
}
.text-box,.text-box2
{
    width: 80%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-align: center;

}
.text-box h1,.text-box2 h1 
{
    font-size: 62px;
    text-transform: capitalize;
}
.text-box p,.text-box2 p
{
    margin: 10px 0 40px;
    font-size:14px ;
    color: white;
}
.text-box{
    animation: slide1 12s linear infinite;

}
.text-box2{
    animation: slide2 12s linear infinite;
    
}
@keyframe slide1{
    0%{
        visibility:visible;
    }
    25%{
        visibility:hidden;
    }
    50%{
        visibility:visible;
    }
    75%{
        visibility:hidden;
    }
    100%{
        visibility: visible;
    }
}
@keyframe slide2{
    0%{
        visibility:hidden;
    }
    25%{
        visibility:visible;
    }
    50%{
        visibility:hidden;
    }
    75%{
        visibility:visible;
    }
    100%{
        visibility: hidden;
    }
}
.hero-btn
{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    background:transparent ;
    padding: 12px 34px;
    font-size:13px ;
    position: relative;
    cursor: pointer;
    transition: border 2s, background-color 2s;
}
.hero-btn:hover
{
    border: 1px solid #a39695;
    background-color:#322f2f ;
   
}

nav .fa
{
    display: none;
}
@media(max-width:700px)
{
    .text-box h1
    {
        font-size:30px ;
    }
    .nav-links ul li
    {
        display: block;
    }
    .nav-links
    {
        position: absolute;
        display: none;
        background-color: #a24c46;
        height: 100vh;
        top: 0;
        right: 0;
        text-align: left;
        z-index:2;
        width:200px;
        transition:1s;
    }
    .nav-links ul
    {
         padding: 20px;
    }
    nav .fa
    {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}
    #SER{
        position:relative;
        /* display: inline-block; */
    }
    .ser {
        /* position: absolute; */
        display: none;
        position: absolute;
        /* color: black; */
        background-color: #e6a0a0;
        min-width: 200px;
        text-align: center;
        margin: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        white-space: nowrap;
        
    }
    .ser a{
         padding: 12px 16px;
         text-decoration: none;
         display: block;
         /* z-index:2; */
         color: black !important;
    }
    #SER:hover .ser{display: block;}
    

   </style>
 <section class="header">
        <nav>
         <a href=""><img src="https://image.shutterstock.com/image-photo/kaju-katli2-260nw-128021285.jpg" alt="hlo"></a>
      
         <div class="nav-links" id="navLinks">
            <i 
            class="fa fa-times CLOSE" ></i>
            <ul>
               <li><a href="/home"> Home</a></li>
               <li id="SER"><a href="/services"> services</a>
                <div class="ser">
                 <a href="/catering">Catering</a>
                 <a href="#">Tent</a>
                 <a href="#">Ground Management</a>
                 <a href="#">Confectionery Work</a>
                 <a href="#">Box Packing</a>
                 <a  href="/tour&travels">Pickup & Drop</a>
                </div>
                </li>
               <li><a href="/aboutus"> about us</a></li>
               <li><a href="/contact"> contact</a></li>
               <li><a href="#">Orders</a></li>
               <li><a href="#">recipe</a></li>
               
              
            </ul>
         </div>
         <i class="fa fa-bars CLICK" ></i>
        </nav>
        <div class="text-box">
         <h1>City's Best Event Management</h1>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos odio atque<br> perferendis
            quas sapiente earum aspernatur doloribus minus recusandae vel reprehenderit <br>nostrum
            autem dolor aliquam, fuga rerum deserunt quibusdam eligendi aliquid quidem! <br>Reprehenderit  
            corporis, dolor ipsa laboriosam saepe culpa, dolores nisi repudiandae veritatis <br>rerum.</p>
         <a href="/visit" class="hero-btn">visit us to know more</a>   
       </div>
        <div class="text-box2">
         <h1>City's Best tour and travels</h1>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos odio atque<br> perferendis
            quas sapiente earum aspernatur doloribus minus recusandae vel reprehenderit <br>nostrum
            autem dolor aliquam, fuga rerum deserunt quibusdam eligendi aliquid quidem! <br>Reprehenderit  
            corporis, dolor ipsa laboriosam saepe culpa, dolores nisi repudiandae veritatis <br>rerum.</p>
         <a href="/visit" class="hero-btn">visit us to know more</a>   
       </div>
   </section>
   
   {{!-- <section class="catering">
    <h1>Catering & Waiters WE PROVIDE</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore velit obcaecati minu
        ipsa numquam molestias reprehenderit ea
        , assumenda similique error cum sint deserunt dolor impedit sequi magnam quo quasi nam!
    </p>
   </section> --}}
   <script>
    const images=['url("https://image.shutterstock.com/image-photo/kaju-katli2-260nw-128021285.jpg")',
    'url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnrXnO00LKGn48n88qGg5vTlwvbcONMcGgjLg4PUjE&s")']

    function changebg(i){
    {
        bg.style.backgroundImage=images[i];
    }
    
    }
    for(var i=0;i<images.length;i++){
    setInterval(changebg(i),i*1000);
    }
   </script>

</body>
</html>